* {
    border: none;
    font-family: "Ubuntu Nerd Font", "JetBrainsMono Nerd Font";
}

window#waybar {
    background-color: transparent;
}

tooltip {
    /* Фон Gruvbox Dark 0 */
    background-color: rgba(40, 40, 40, 0.9);
    /* Рамка Gruvbox Gray */
    border: 2px solid rgb(80, 73, 69);
}

tooltip label {
    /* Светло-бежевый текст */
    color: #ebdbb2;
}

#network,
#pulseaudio,
#pulseaudio.microphone,
#battery,
#backlight,
#clock,
#memory,
#cpu,
#tray,
#language,
#user,
#bluetooth,
#custom-power,
#custom-media,
#custom-notifications,
#workspaces,
#power-profiles-daemon,
#custom-music {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    transition: none;

    font-size: 13px;
    /* Текст: fg (бежевый) */
    color: #ebdbb2;
    /* Фон модулей: bg1 */
    background-color: rgba(60, 56, 54, 0.95);
    /* Рамка модулей: bg3 */
    border: 2px solid rgb(102, 92, 84);
    border-radius: 10px;
}

#battery.charging,
#battery.plugged {
    color: #ebdbb2;
    /* Зелёный фон для зарядки: Green Dark */
    background-color: rgba(152, 151, 26, 0.95);
    border: 2px solid rgb(121, 116, 14);
    border-radius: 10px;
}

#battery.critical:not(.charging) {
    /* Красный текст для критического состояния */
    color: #fb4934;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    background-color: rgba(40, 40, 40, 0.95);
    border: 2px solid rgb(204, 36, 29);
    border-radius: 10px;
}

@keyframes blink {
    to {
        /* Перемигивание в бежевый */
        color: #ebdbb2;
    }
}

#custom-power {
    margin-right: 10px;
    padding-right: 12px;
    /* Можно выделить кнопку питания красным, если хочешь */
    color: #fb4934;
}

#workspaces button {
    font-size: 16px;
    padding: 1px 1px;
    color: #928374;
    min-width: 30px; /* чтобы кнопка была солиднее */
}

#workspaces button.focused {
    /* Активный воркспейс — желтый Gruvbox */
    background-color: #fabd2f;
    color: #282828;
}

#workspaces button.active {
    /* Видимый воркспейс — светло-серый/бежевый */
    background-color: #665c54;
    color: #ebdbb2;
}
